In [1]:
import os
cwd = os.getcwd()
import gc

import numpy as np
import pandas as pd
from dask import dataframe as dd

In [2]:
def rmse(y,h):
    """RMSE
    Args:
        y: real y
        h: predicted y
    Returns:
        RMSE
    """
    a = y-h

    return np.sqrt(sum(a**2)/len(a))

In [3]:
test = pd.read_csv(cwd+'/../../../data/output csv files/test.csv')
popular = pd.read_csv(cwd+'/popular_books.csv')

In [4]:
# merge test dataframe and popular dataframe
poprank = test.merge(popular,on = 'newbookid')

# ratingYN column assigns 1 if rating>=4 and 0 if rating<4
poprank['ratingYN']= [1 if x>= 4 else 0 for x in poprank['rating']]

poprank = poprank.sort_values(by=['newuser_id', 'ratings_count'], ascending=False)
poprank

,rating,newbookid,newuser_id,ratings_count,average_rating,predicted_rating,ratingYN
139520,4,3,15000,3866839,3.57,4.0,1
143201,5,23,15000,1779331,4.37,4.0,1
149103,5,42,15000,1257121,4.04,4.0,1
77754,4,70,15000,813439,4.30,4.0,1
19823,4,89,15000,628637,4.25,4.0,1
...,...,...,...,...,...,...,...
145357,3,660,1,129811,3.55,4.0,0
153191,3,903,1,95620,3.62,4.0,0
334789,4,1256,1,82458,3.94,4.0,1
55873,3,1294,1,65397,3.69,4.0,0
297998,4,2153,1,40071,4.13,4.0,1

In [5]:
print('(1) Popularity Model RMSE: ', np.round(rmse(poprank['rating'],poprank['average_rating']), decimals=3))

(1) Popularity Model RMSE:  0.968